# Classification With the Titanic Dataset

In this notebook you will practice a supervised learning problem with the titanic dataset. You will try to predict whether or not a particular passenger lived or died based on other data about that passenger such as age, sex, fare, etc. If you want to continue to explore this dataset, see the Titanic competition on Kaggle:

https://www.kaggle.com/c/titanic

## Imports

In [10]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Load and prepare the data

In [11]:
raw_data = sns.load_dataset('titanic')

In [12]:
raw_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [13]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

## 2. Cleaning data

Clean the raw data inplace by doing the following:

* Fill missing values in the age column with its mean.
* Convert bool columns to ints.
* Create a new int valued `child` column that is `1` when the `who` column is `child` and `0` otherwise.
* Drop the `alive`, `deck`, `embarked` and `adult_male` columns.

In [26]:
raw_data['age'] = raw_data['age'].fillna(raw_data['age'].mean())
raw_data['sex'] = raw_data['sex'].map({'male':1, 'female':0})
raw_data['alive'] = raw_data['alive'].map({'yes':1, 'no':0})
raw_data['alone'] = raw_data['alone'].map({'True':1, 'False':0})
raw_data['child'] = (raw_data['who'] == 'child').map({True:1, False:0})
raw_data['child']
#raw_data.head()

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      0
9      1
10     1
11     0
12     0
13     0
14     1
15     0
16     1
17     0
18     0
19     0
20     0
21     0
22     1
23     0
24     1
25     0
26     0
27     0
28     0
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    0
867    0
868    0
869    1
870    0
871    0
872    0
873    0
874    0
875    1
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    0
888    0
889    0
890    0
Name: child, Length: 891, dtype: int64

Get the following tests to pass:

In [ ]:
assert raw_data.pclass.isnull().value_counts()[False]==891
assert list(raw_data.sex.unique())==['male', 'female']
assert raw_data.age.isnull().value_counts()[False]==891
assert raw_data.sibsp.isnull().value_counts()[False]==891
assert raw_data.parch.isnull().value_counts()[False]==891
assert raw_data.fare.isnull().value_counts()[False]==891
assert list(raw_data['class'].unique())==['Third', 'First', 'Second']
towns = raw_data.embark_town.value_counts()
assert towns['Southampton']==644
assert towns['Cherbourg']==168
assert towns['Queenstown']==77
assert towns['Unknown']==2
a = raw_data.alone.value_counts()
assert a[0]==354
assert a[1]==537
cc = raw_data.child.value_counts()
assert cc[0]==808
assert cc[1]==83

assert list(raw_data.columns)==['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'class',
       'who', 'embark_town', 'alone', 'child']

Here is a summary of the cleaned data:

In [ ]:
raw_data.info()

## 3. Features

Create a feature `DataFrame` named `X` with the numerical columns from the raw dataset:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert list(X.columns)==['pclass', 'age', 'sibsp', 'parch', 'fare', 'alone', 'child']

Use `pandas.get_dummies` to one-hot-encode the `sex`, `class` and `embark_town` columns. Use the `drop_first` argument to drop one of the one-hot encoded columns for each of them. Ese `pandas.concat` to concat the new columns to `X`:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert list(X.columns)==['pclass', 'age', 'sibsp', 'parch', 'fare', 'alone', 'child', 'male',
       'Second', 'Third', 'Queenstown', 'Southampton', 'Unknown']

Here is the final features we will use:

In [ ]:
X.head()

## 4. Target

Create the target vector, `y`, from the `survived` column:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
yc = y.value_counts()
assert yc[0]==549
assert yc[1]==342

## Train/test split

Use `sklearn.cross_validation.train_test_split` to split your data into a training and test set. Save the resulting data in the variables:

* `Xtrain`
* `Xtest`
* `ytrain`
* `ytest`

Do a train/test split, with 70% of the data used for training and a `random_state=0`:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert Xtrain.shape==(623,13)
assert ytrain.shape==(623,)
assert Xtest.shape==(268,13)
assert ytest.shape==(268,)

## Gaussian Naive-Bayes classifier

Perform the following steps with the `sklearn.naive_bayes.GaussianNB` classifier:

1. Instantiate the model class
2. Fit the model with the training data
3. Use the model to make predictions about the test data

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the accuracy of the model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Random forest classifier

Perform the following steps with the `sklearn.ensemble.RandomForestClassifier` classifier:

1. Instantiate the model class
2. Fit the model with the training data
3. Use the model to make predictions about the test data
4. Set `random_state=0`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the accuracy of the model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use `cross_val_score` to perform k-fold cross validation (`k=10`) with this model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the average accuracy and its standard deviation:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use `sklearn.metrics.confusion_matrix` and Seaborn's `heatmap` to display the confusion matrix for this model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use the `feature_importances_` attribute of the model to create a `DataFrame` that has two columns:

1. `feature`: the names of the features
2. `importance`: the importances of that feature

Sort by the feature importances.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()